---
- name: Configure DC1 WAN Routers
  hosts: dc1_wan_routers
  gather_facts: false

  roles:
    - dc1/wanrtrs/intf_config

  tasks:
    - name: Print output
      ansible.builtin.debug:
        var: output
